.stripevertical{
  width: 10%;
  height: 100%;
  background-color: #002f6c;
}
.stripehorizontal{
  width: 100%;
  height: 20%;
  background-color: #002f6c;
}

.flag{
  width: 100%;
  height: 100%;
  position: absolute;
}

.flag :nth-child(1){
  position: relative;
  left: 20%;
}
.flag :nth-child(2){
  position: relative;
  bottom: 57%;
}

*{
  margin: 0px;
}
