.red{
  background-color: red;
}

.circle{
  width: 25vw;
  height: 25vw;
  border-radius: 12.5vw;
  margin-left:-12.5vw;
  margin-top: -12.5vw;
}

.flag{
  width: 100vw;
  height: 100vh;
}

.flag :nth-child(1){
  position: relative;
  left: 50%;
  top: 50%;
}

*{
  margin: 0px;
  height: 100vh;
}
