.flag{
  background-color: #009c3b;
  width: 100vw;
  height: 100vh;
}

*{
  margin: 0px;
}

.p1{
  position: absolute;
  width: 95vw;
  height: 90vh;
  background-color: #ffdf00;
  margin-left: 2.5vw;
  margin-top: 5vh;
}

.circle{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: #002776;
}

.cut1 ::nth-child(1){
  position: relative;
  top:20vw;
}

.cut1 { 
  border-bottom: 45vh solid #ffdf00;
  border-left: 47.5vw solid #009c3b;
  border-right: 47.5vw solid #009c3b;
}

.cut2 { 
  border-left: 47.5vw solid #009c3b; 
  border-right: 47.5vw solid #009c3b; 
  border-top: 45vh solid #ffdf00; 
}
