.container {
  width: 100%;
  height: 350px;
	margin: 0 auto;
}

.blue{
  background-color: #002f6c;
}

.white {
  background-color: white;
}

.flex {
	display: flex;
}

.item {
  margin:0px;
  height: 100%;
}

.item2 {
  margin:0px;
  height: 100%;
  width: 150px;
}

.grow05{
  flex-grow: 0.5;
}

.grow2{
  flex-grow: 2;
}

.grow0{
  flex-grow: 0;
}

.meio {
  height: 175px;
}
