.flex{
  display: flex;
}

.container{
  height: calc(100vh/9);
  width: 100vw;
}

.blue{
  background-color: #0d5eaf;
}

.white{
  background-color: white;
}


.w-15{
  width: 15vw;
}

.w-7-5{
  width: 7.5vw;
}

.w-62-5{
  width: 62.5vw;
}
.w-37-5{
  width: 37.5vw;
}
.w-100{
  width: 100vw;
}

*{
  margin: 0px;
}
