.flex{
  display: flex;
}

.container{
  width: 100vw;
  height: 100vh;
}

.black{
  background-color: black;
}

.yellow{
  background-color: #FFCC00;
}

.red{
  background-color: #FF0000;
}

.stripe{
  flex: 1;
}

.column{
  flex-direction: column;
}
*{
  margin: 0px;
}
