*{
  margin: 0px;
}

.red{
  background-color: #ed1c24;
}

.white{
  background-color: white;
}

.flex{
  display: flex;
}
.container{
  width: 100vw;
  height: 100vh;
}

.stripe{
  width: 100vw;
  text-align: center;
}

.h-25{
  height: 25vh;
}
.h-50{
  height: 50vh;
}

.column{
  flex-direction: column;
}

