.centralizar{
  text-align: center;
}

* {
  margin: 10;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Basic', sans-serif;
  background-color: black;
  color: #fff;
}

.baixo-bandeira{
  background-color: #B0C592;
  width:100%;
}

img{
  border-radius: 10px;
}
ul{
  list-style: none;
}
p{
  font-size: 20px;
  text-align: left;
}
h1 {
  position: relative;
  font-family: 'MedievalSharp', cursive;
  font-size: 40px;
}
.titulos {
  margin-right: 75%;
  border-radius: 5px;
  border:solid;
  border-color:black;
  background-color: #92DCE5;
  margin: 0 auto;
  text-align: center;
  color: rgb(52, 0, 119);
}
.imagem{
  max-width:400px;
  max-height:200px;
  width: auto;
  height: auto;
  border-radius: 5px;
 }
a{
  color: #92DCE5;
  font-size: 30px;
  font-family: 'ABeeZee', sans-serif;
  text-decoration: none;
}

.baixo-bandeira nav{
  background-color: #B0C592
}

.descricao{
  text-align: center;
}
