<html>
  <head>
<<<<<<< HEAD
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  </head>
  <body>
    <div id="meuPrimeiroApp">
      <div class="container">
        <div class="row justify-content-between">
          <div class="row justify-content-md-center">
            <label class="col col-lg-5">Digite o número de pokedex do Pokemon: </label>
            <input id="busca" type="text" class="col col-lg-2" placeholder="ex: 105" v-on:blur="buscar()" v-model="idParaBuscar">
          </div>  
          <button id="btnLucky" class="col col-lg-2" id="btnLucky" v-on:click="buscarAleatorio()">Estou com sorte!</button>
        </div>
      </div>
      <div class="pokedex">
        <div id="dadosPokemon"> 
          <img v-show="pokemon.thumbUrl" 
          id="thumb" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
          <h1>{{ pokemon.nome }}</h1>
          <div id="infoPokemon">
            <p v-show="pokemon.id" id="ID">ID: {{pokemon.id}}</p>
            <p v-show="pokemon.altura" id="altura" >Altura: {{pokemon.altura}} cm</p>
            <p v-show="pokemon.peso"id="peso">Peso: {{pokemon.peso}} kg</p>
          </div> 
          <ul>
            <li id="tipos" v-for="tipo in pokemon.tipos">{{ tipo }}</li>
          </ul>
        </div>
        <ol id="estatisticas">
          <li v-show="pokemon.speed">Velocidade: {{pokemon.speed}}</li>
          <li v-show="pokemon.specialDefense">Defesa especial: {{pokemon.specialDefense}}</li>
          <li v-show="pokemon.specialAttack">Ataque especial: {{pokemon.specialAttack}}</li>
          <li v-show="pokemon.defense">Defesa: {{pokemon.defense}}</li>
          <li v-show="pokemon.attack">Ataque: {{pokemon.attack}}</li>
          <li v-show="pokemon.hp">Vida: {{pokemon.hp}}</li>
        </ol>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
=======
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <section id="meuPrimeiroApp">
      <input type="text" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">  
      <h2 v-show="idParaBuscar.length > 0">Olá, {{ idParaBuscar }}</h2>
      <h1>{{ pokemon.nome }}</h1>
      <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
      
      
      
      <ul>
        <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
      </ul>
    </section>
>>>>>>> master
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
