.pokedex {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  width: 100vw;
}

#infoPokemon{
  line-height: 0px;
  position: relative;
  left:453px;
  top: -25px;
  width: 200px;
}
#tipos{
  line-height: 15px;
  position: relative;
  left:565px;
  top: -83px;
}
li{
  line-height: 30px;
  width: 150px;
}

#btnLucky{
  height: 30px;
  right: 15px;
  align-self: center;
}

#busca{
  height: 25px;
  align-self: center;
}

.container{
  background-image: linear-gradient( to right, #629B28, #437867);
  border-bottom: solid black 5px;
  border-left: solid black 5px;
  border-right: solid black 5px;
  box-shadow: 5px 3px 10px #000;
  height: 70px;
}

#estatisticas{
  line-height: 4px;
  position: relative;
  top: 175px;
  height: 186px;
  width: 200px;
  background-color: #ce1030;
  border-radius: 20px;
  border:3px solid black;
  list-style-type: square;
  box-shadow: 5px 3px 10px #000;
} 

#meuPrimeiroApp{
  background: url("https://pokemongolive.com/img/global/bg.jpg");
  margin: 0px;
  height: 100vh;
  width: 100vw;
}


#dadosPokemon{
  background-image: url("pokedex.png");
  height: 544px;
  width: 748px;
}

#thumb{
  left: 95px;
  top: 152px;
  position: relative;
  height: 180px;
  width: 180px;
}
h1{
  left: 90px;
  height: 40px;
  text-align: center;
  width: 120px;;
  top: 282px;
  font-size: 17px;
  position: relative;
}

*{
  font-family: 'Bai Jamjuree', sans-serif;
  color: black;
}

