<template>
  <section>
    <h1>{{ usuario }}, seja bem vindx!</h1>
    <h3>Por favor, escolha o tipo de pokemon: </h3>
    <select id="escolhaPokemon" class="form-control form-control-sm" v-model="opcaoSelecionada">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <h3 style="position:relative;top:15px;" v-show="opcaoSelecionada.texto">Pokemons do tipo {{ opcaoSelecionada.texto }} | Pagina: {{pagina}}</h3>
    <Button class="btn btn-primary btn-sm" id="btnAnterior" :disabled="pagina==1" v-show="opcaoSelecionada.texto" v-on:click.native="pagina -= 1" v-bind:texto="'Página anterior'"/>
    <Button class="btn btn-primary btn-sm" id="btnProximo" :disabled="quantidadePokemonPorPagina*pagina>tamanhoListaAtual" v-show="opcaoSelecionada.texto" v-on:click.native="pagina += 1" v-bind:texto="'Próxima página'"/>
    <transition name="blink" mode="out-in" appear>
      <div :key="pokemons">
        <TabelaPokemon style="position:relative;margin-bottom:100px;" v-show="pokemons.length>0" :pokemons="pokemons"/>
      </div>
    </transition>
  </section>
</template>
<script>
import PokeApi from '../../api/pokeApi.js'
import PokemonLinha from '../shared/PokemonLinha.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'
import Button from '../shared/Button.vue'

export default {
  name: 'Home',
  components: {
    Button, PokemonLinha, TabelaPokemon
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
      ],
      opcaoSelecionada: {},
      pokemons: [],
      pagina: 0,
      quantidadePokemonPorPagina: 10,
      tamanhoListaAtual: 0
    }
  },
  methods: {
    async onChange() {
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      this.$data.pokemons = await pokeApi.listarPorTipo(this.opcaoSelecionada.id, this.quantidadePokemonPorPagina, this.pagina )
      this.getTamanho()
      console.log('changeou')
    },

    async getTamanho(){
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      this.tamanhoListaAtual = await pokeApi.getTamanhoListaPorTipo(this.opcaoSelecionada.id)
    },
    proximaPagina(){
      this.pagina++
      console.log('pagina')
    }

  },
    created() {
      this.usuario = this.$route.params.usuario
    },
   
    watch: {
      pagina: function () {
        this.onChange()
      },
      opcaoSelecionada: function () {
        this.pagina = 1
        this.onChange()
      }
    }
}
</script>
<style>

#table{
  width: 70vw;
  top: 50px;
  position: relative;
  margin: 0 auto;
  background: #3B5CA7;
  color: black;
}

#escolhaPokemon{
  width: 20vw;
  margin: 0 auto;
}

#btnAnterior{
 left: 15vw;
 position: absolute; 
}

#btnProximo{
 right: 15vw;
 position: absolute; 
}

body{
    background-image: url('https://images6.alphacoders.com/420/420248.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

.blink-enter-active {
  transition: opacity 0.5s ease;
}

.blink-enter, .blink-leave-active {
  opacity: 0
}
</style>

