<template>
  <div id="app">
    <img alt="Vue logo" src="https://cdn-images-1.medium.com/max/2000/1*DJZWzlN2BTgRf_NSu0u02g.png" width="500px">
    <router-view></router-view>
  </div>
</template>

<script>
import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-attachment: fixed;
    background-size: cover;
}
</style>
