<template>
  <table id="table" class="table table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pokemon</th>
        <th scope="col">Nome</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
      </tr>
     </thead>
    <tbody>
      <PokemonLinha v-for="pokemon in pokemons" :key="pokemon.id" :value="pokemon" :pokemon="pokemon"/>
    </tbody>
  </table>
</template>

<script>
import PokemonLinha from './PokemonLinha.vue'
export default {
  name: 'TabelaPokemon',
  props: {
    pokemons: Array
  },
  components: {
    PokemonLinha
  },
}
</script>

