#dadosPokemon{
  background-image: url("https://cdn-images-1.medium.com/max/1600/1*HmJQ3auSA_TivUEALJNq1Q.png");
  height: 544px;
  width: 748px;
}

#thumb{
  left: 95px;
  top: 152px;
  position: relative;
  height: 180px;
  width: 180px;
}

#infoPokemon{
  line-height: 0px;
  position: relative;
  left:453px;
  top: -55px;
}

#estatisticas > p{
  margin: 22px;
}

#pokeID{
  height: 25px;
}

#estatisticas{
  line-height: 4px;
  position: relative;
  top: 175px;
  height: 180px;
  width: 200px;
  background-color: #ce1030;
  border-radius: 20px;
  border:3px solid black;
  list-style-type: square;
}

.container {
  position: relative;
  top: 20px;
  left: 15px;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: row;
}


h1{
  left: 90px;
  height: 40px;
  text-align: center;
  width: 120px;;
  top: 265px;
  font-size: 20px;
  position: relative;
}

li{
  line-height: 30px;
}

*{
  font-family: 'Bai Jamjuree', sans-serif;
}
