<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <form @submit.prevent="adicionar">
      <input type="text" v-model="novaSkill">
      <button type="submit">Criar</button>
    </form>
    <ul>
      <li v-for="s in skills" v-bind:key="s.id">{{ s.id }}: {{ s.desc }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => {
    return {
      skills: [],
      novaSkill: ''
    }
  },
  methods: {
    async adicionar() {
      let skillsAntes = this.skills.concat()
      fetch( 'http://localhost:3000/skills', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify( { desc: this.novaSkill } ) 
      } )
      .then( j => j.json() )
      .then( p => {
        skillsAntes.push( p )
        this.skills = skillsAntes
        this.novaSkill = ''
      } ) 
    }
  },
  created() {
    fetch( 'http://localhost:3000/skills' )
      .then( j => j.json() )
      .then( p => {
        this.skills = p
      } )
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 7px;
}
a {
  color: #42b983;
}
</style>
