<template>
  <section>
    <h1>{{ usuario }}, seja bem vindx!</h1>
    
    
    
    <select v-model="opcaoSelecionada" @change="onChange">
      <option v-for="opcao in opcoes" :key="opcao.id" :value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

    <TabelaPokemon :pokemons="pokemons" />

  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'
import PokemonLinha from '../shared/PokemonLinha.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'

export default {
  name: 'Home',
  components: {
    PokemonLinha, TabelaPokemon
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
      ],
      opcaoSelecionada: {},
      pokemons: [ ]
    }
  },
  methods: {
    async onChange() {
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      const qtdPokemonsPagina = 10
      const pagina = 1
      this.pokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, qtdPokemonsPagina, pagina )
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}
</script>

