*{
  
}

#horario{
  font-family: 'Istok Web', sans-serif;
  color: gainsboro;
  background-color: #194a63;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#boxRelogio{
  width: 500px;
  height: 160px;
  background-color: #194a63;
  text-align: center;
  border-radius: 20px;
  border:5px solid #193a4a;
}

#boxRelogio :nth-child(1){
  position: relative; 
  top: 10px;
}

#boxRelogio :nth-child(2){
  position: relative; 
  top: 10px;
}

#boxRelogio :nth-child(3){
  position: relative; 
  left: 15px;
}

#btnPararRelogio{
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 5px;
  border:3px solid transparent
}

#btnReiniciarRelogio{
  border-top: 14px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 23px solid red; 
  background: transparent !important
}

button[disabled="disabled"], button:disabled {
  background: gray !important;
  border-left-color: gray !important; 
}

.container {
  width: 100vw;
  height: 100vh;
  background: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body{
  margin: 0px;
}
