.container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

*{
  margin: 0px;
}

#circle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10vw;
  width: 40vw;
  height: 40vw;
  border-radius: 430px;
  background-position: center;
  border-style: solid;
  border-color: red;
  border-width: 30px;
}

#circle :nth-child(1){
  top: 14vw;
  color: white;
  position: relative;
  float: left;
  left: 5vw;
}

#circle :nth-child(2){
  top: 14vw;
  color: white;
  position: relative;
  float: rigth;
}
